<?xml version='1.0' encoding='utf-8'?>
<widget id="net.gelovenleren.radio" version="4.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Katholieke Radio</name>
    <description>
        Luister naar katholieke radiostations.
    </description>
    <author email="info@gelovenleren.net" href="http://gelovenleren.net">
        Credomobiel
    </author>
    <platform name="android" />
    <splash src="splash.png" width="320" height="480" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <icon src="favicon.png" />
    <icon src="favicon36.png" platform="android" qualifier="ldpi" />
    <icon src="favicon.png" platform="android" qualifier="mdpi" />
    <icon src="favicon72.png" platform="android" qualifier="hdpi" />
    <icon src="favicon96.png" platform="android" qualifier="xhdpi" />
    <access origin="http://gelovenleren.net" subdomains="true"/>
    <access origin="http://gelovenleren.appspot.com" subdomains="true"/>
</widget>
